################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eWolfCodeBloger
/eWolfCodeBloger/bin/Debug
/eWolfCodeBloger/obj/Debug
/.vs/eWolfCodeBlogger/v15
/eWolfCodeBlogger/bin/Debug
/eWolfCodeBlogger/obj/Debug
/packages/SonarAnalyzer.CSharp.7.4.0.6452
